@CHARSET "UTF-8";

.caption_link {
    font-family: "Karla", Helvetica, Arial, sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
}

.span12 {
    width: 100% !important;
    margin-left: 20px;
}

.galleria-theme-nextgen_pro_horizontal_filmstrip .galleria-info {
    margin-bottom: 20px;
}

.galleria-info-add {
    max-height: 80% !important;
    cursor: hand;
    bottom: 96px;
    top: 20px;
    width: 300px;
    margin-left: 20px;
}

.galleria-image-nav-right {
    height: 1200px !important;
    top: -350px !important;
    background-image: none !important;
    width: 50% !important;
    z-index: 900;
}

.galleria-image-nav-left {
    height: 1200px !important;
    top: -350px !important;
    background-image: none !important;
    width: 50% !important;
    z-index: 900;
}

.galleria-theme-nextgen_pro_horizontal_filmstrip .galleria-playback-button.play
    {
    background-image: none !important;
}

.galleria-image-nav-right:hover {
    cursor: url("icon-right.png"), none;
}

.galleria-image-nav-left:hover {
    cursor: url("icon-left.png"), none;
}

.caption_link:mouseleave {
    display: none;
}

.caption_link {
    visibility: hidden
}

.imgExtraDescription {
    background: rgba(255, 255, 255, 0.85);
    color: black;
    height: 80%; //
    opacity: 0.8;
    padding: 5px 5px 5px 5px;
    overflow-y: auto;
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.galleria-theme-nextgen_pro_horizontal_filmstrip .galleria-info {
    opacity: 1 !important;
}

.galleria-info-text {
    height: 100%;
}
/*
.ngg-pro-album{
    max-width:960px;
}
.wysiwyg-ce{
    max-width:960px;
}*/
/*
.container{
    max-width:960px;
}*/
.ngg-galleria {
    background-image: url("loadingbar.gif");
//    background-size: 21% 10px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}
/*
.nggNextGalleryLink {
    z-index: 99;
    height: 20%;
    width: 100%;
    vertical-align: bottom;
    margin-top: -55%;
    display: block;
    position: relative;
}
*/

@media ( min-width : 980px) {
    .nextgen_pro_grid_album {
    text-align: left;
    }
}
@media ( max-width : 979px) {
    .nextgen_pro_grid_album {
    text-align: center;
    }
}

@media ( min-width : 726px) and (max-width: 1024px) {

    .ngg-galleria {
        background-size: 21% 10px;
    }
    
    .galleria-info {
        background-color: transparent !important;
        width: auto;
        margin-top: 60px;
        margin-left: 5px !important;
        margin-right: 5px !important;
        margin-bottom: 5px !important;
        display: none;
        bottom: 0px !important;
        display: none;
        background-color: #000000;
        color: #EEEEEE;
        font-size: 13px;
        line-height: 17px;
        ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
        filter: alpha(opacity = 75);
        opacity: 0.75;
        text-align: center;
        z-index: 50;
        margin: 0;
        position: absolute;
        left: 0;
        right: 0;
        overflow: hidden;
        padding: 0;
    }

    .imgExtraDescription {
        visibility: visible;
        display: block;
        width: 95%;
       // max-height: 60px;
        overflow-y: auto;
    }
    
    .caption_link {
        display: block !important;
        text-align: left !important;
        visibility: visible;
    }
    .span12 {
        margin-left: 0px !important;
    }
    .image_container {
        margin-left: 0px !important;
    }
    .galleria-info-title {
        margin-bottom: 0px;
        background-color: white;
        color: black;
        display: block;
        width: 100%;
    }
    .galleria-container .notouch .galleria-theme-nextgen_pro_horizontal_filmstrip .caption_overlay_bottom
        {
        height: 480px;
    }
    .galleria-info-description {
        text-align: left !important;
        height: 50px;
    }
    .nggPreviousGalleryLink {
        z-index: 99;
        height: 30%;
        width: 100%;
        position: relative;
        top: -100%;
    }
    .nggNextGalleryLink {
        z-index: 99;
        height: 20%;
        width: 100%;
        vertical-align: bottom;
        margin-top: -55%;
        display: block;
        position: relative;
    }
    .nggPreviousGalleryLink:hover {
        
    }
    .nggNextGalleryLink:hover {
        
    }
}

@media ( min-width : 100px) and (max-width: 726px) {

    .ngg-galleria {
        background-size: 33% 6px;
    }
    
    .galleria-info {
        background-color: transparent !important;
        width: auto;
        margin-top: 60px;
        margin-left: 5px !important;
        margin-right: 5px !important;
        margin-bottom: 5px !important;
        display: none;
        bottom: 0px !important;
        display: none;
        background-color: #000000;
        color: #EEEEEE;
        font-size: 13px;
        line-height: 17px;
        ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
        filter: alpha(opacity = 75);
        opacity: 0.75;
        text-align: center;
        z-index: 50;
        margin: 0;
        position: absolute;
        left: 0;
        right: 0;
        overflow: hidden;
        padding: 0;
    }
    .imgExtraDescription {
        visibility: visible;
        display: block;
        width: 95%;
        max-height: 60px;
        overflow-y: scroll;
    }
    
    .caption_link {
        display: block !important;
        text-align: left !important;
        visibility: visible;
    }
    .span12 {
        margin-left: 0px !important;
    }
    .image_container {
        margin-left: 0px !important;
    }
    .galleria-info-title {
        margin-bottom: 0px;
        background-color: white;
        color: black;
        display: block;
        width: 100%;
    }
    .galleria-container .notouch .galleria-theme-nextgen_pro_horizontal_filmstrip .caption_overlay_bottom
        {
        height: 480px;
    }
    .galleria-info-description {
        text-align: left !important;
        height: 50px;
    }
    .nggPreviousGalleryLink {
        z-index: 99;
        height: 30%;
        width: 100%;
        position: relative;
        top: -100%;
    }
    .nggNextGalleryLink {
        z-index: 99;
        height: 20%;
        width: 100%;
        vertical-align: bottom;
        margin-top: -72%;
        display: block;
        position: relative;
        
    }
    .nggPreviousGalleryLink:hover {
        
    }
    .nggNextGalleryLink:hover {
        
    }
}


@media ( max-width : 1025px) {
	.descripcionExtraMovil{
	   opacity: 0.8;
        display: block;
        width: 100%;       
        background: rgba(255, 255, 255, 0.85);
	    padding: 5px 5px 5px 5px;
	    position: relative;
	    padding-bottom: 15px;
	    padding-left: 15px;
	    color: #696969;
	    padding-right: 15px;
	    top:-50px;
    }
    .imgExtraDescription{
        display:none;
    
    }
    
}
@media ( min-width : 1025px) {
    
    .ngg-galleria {
        background-size: 21% 10px;
    }
    .descripcionExtraMovil{
        display:none;
    }
    .galleria-info {
        background-color: transparent !important;
        bottom: 96px;
        top: 10% !important;
        width: 300px;
        height: 20px;
        max-height: 80% !important;
        margin-left: -10px;
    }
    .imgExtraDescription {
        visibility: visible;
        display: none;
        height: auto;
        max-height: 80%;
    }
    
    .caption_link {
        display: none;
        text-align: left !important;
        visibility: hidden;
    }
    .galleria-info-description {
        text-align: left !important;
        height: 80%;
    }
    .galleria-info-title {
        margin-bottom: 0p x;
        background-color: white;
        color: black;
        width: 100%;
    }
    .nggPreviousGalleryLink:hover {
        cursor: url("icon-up.png"), none;
    }
    .nggNextGalleryLink:hover {
        cursor: url("icon-down.png"), none;
    }
    .nggNextGalleryLinkTrianguloBottom:hover {
        cursor: url("icon-down.png"), none;
    }
    .nggPreviousGalleryLinkBottom:hover {
        cursor: url("icon-up.png"), none;
    }
    .nggPreviousGalleryLink {

        z-index: 999;
        position: relative;
        width: 100%;
        top: -100%;
        height: 20%;
        left: 300px;
        
    }   
    .nggNextGalleryLink {

        z-index: 999;
        position: relative;
        width: 100%;
        
        top: -55%;
        height: 25%;
    }
    .nggPreviousGalleryLinkBottom {
        z-index: 999;
        position: relative;
        width: 30%;
        top: -189%;
        height: 30%;
        margin-left: 33.5%;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        
    }
    .nggNextGalleryLinkTrianguloBottom {
     
        z-index: 999;
        position: relative;
        width: 40%;
        top: -95%;
        height: 40%;
        margin-left: 35%;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        
    }
}